# MySQL 테이블 생성 및 데이터 입력 방법

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hs\anaconda3\lib\site-packages (1.0.2)

WARNING: You are using pip version 21.2.1; however, version 21.2.4 is available.
You should consider upgrading via the 'c:\users\hs\anaconda3\python.exe -m pip install --upgrade pip' command.

In [5]:
import json
with open('mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [8]:
import pymysql
conn = pymysql.connect(
    host=config['host'],
    user=config['user'],
    password=config['password'],
    database=config['database'],
    port=config['port']
)

## 테이블 생성

In [9]:
cur = conn.cursor()
sql_create_table = '''
    create table if not exists users (
        uid varchar(20) not null primary key,
        pwd char(44) not null,
        uname varchar(20) not null,
        email varchar(40),
        reg_date datetime default current_timestamp,
        is_deleted int default 0
    );
'''

In [10]:
cur.execute(sql_create_table)

0

## 데이터 추가

In [ ]:
cur = conn.cursor()
sql_insert = "INSERT INTO users(uid, pwd, uname) VALUES('admin', '1234', '관리자');"
cur.execute(sql_insert)

In [13]:
sql_select = 'select * from users;'
cur.execute(sql_select)
row = cur.fetchone()

In [14]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 27, 14, 29, 16), 0)

In [15]:
# 데이터를 하드 디스크에 쓰게 하는 명령
conn.commit()

- 여러건의 데이터 추가

In [18]:
sql_multi_insert = '''
    INSERT INTO users(uid, pwd, uname) VALUES
        ('eskim','1234','김은숙'), ('wjlee','1234','이우정');
    '''

In [19]:
cur.execute(sql_multi_insert)
conn.commit()

- Placeholder

In [20]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES(%s, '1234', %s);"
uid, uname = 'djy','대조영'
cur.execute(sql_insert_ph, (uid, uname))
conn.commit()

- 여러건의 데이터를 placeholder를 이용해서 insert

In [21]:
users = (('gdhong','홍길동'),('jbpark','박재범'))
cur.executemany(sql_insert_ph, users)
conn.commit()

In [ ]:
# 강사가 추천하는 방법
users = (('gdhong2','홍길동'),('jbpark2','박재범'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

## 마무리

In [24]:
cur.close()
conn.close()