In [13]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
# 1. 2차원 표
df = pd.DataFrame(np.arange(20).reshape(4,5),
                  index=list('abcd'), columns=list('vwxyz'))
df

    v   w   x   y   z
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

In [9]:
# 2. Dictionary list
dl = [
      {'name':'James', 'age':24, 'job':'student'},
      {'name':'Maria', 'age':36, 'job':'teacher'},
      {'name':'Brian', 'age':30, 'job':'programmer'}     
]
df = pd.DataFrame(dl)
df

    name  age         job
0  James   24     student
1  Maria   36     teacher
2  Brian   30  programmer

In [10]:
# 3. 여러개의 리스트
names = ['James', 'Maria', 'Brian']
ages = [24, 36, 30]
jobs = ['student', 'teacher', 'programmer']
pd = pd.DataFrame({
    'name': names, 'age': 
})

SyntaxError: ignored

In [14]:
iris.species.value_counts()

NameError: ignored

In [12]:
np.mean(iris[iris.species == 'setosa']['sepal_length'])

NameError: ignored

In [15]:
s = iris[iris.species == 'setosa']['sepal_length']
np.round(s.mean(), 2), np.round(s.std(), 4)

NameError: ignored

In [16]:
# 아주 중요한 내용
species_list, feature_list, mean_list, std_list = [],[],[],[]
for species in iris.species.unique():
    for feature in iris.columns[:-1]:
      s = iris[iris.species == species][feature]
      species_list.append(species)
      feature_list.append(feature)
      mean_list.append(np.round(s.mean(), 2))
      std_list.append(np.round(s.std(), 4))

NameError: ignored

In [ ]:
df = dp.DataFrame({
    'species': species_list, 'feature': feature_list,
    'mean': mean_list, 'std': std_list
})

In [17]:
df.set_index(['species', 'feature'])

KeyError: ignored