# 5.4 특정 단어 포함 게시글 찾기

## 5.4.2 데이터 준비

In [2]:
# 예제 5-44 크롤링 데이터 불러오기
import pandas as pd
raw_total = pd.read_excel('./files/1_crawling_raw.xlsx')
raw_total.head()

,content,date,like,place,tags
0,더 늦기전에 제주도로 떠나쟈😍.#제주핫플레이스 간단히 1탄 모아봄!#제주여행 요 필...,2018-12-07,"1,402",NaN,"['#제주핫플레이스', '#제주여행', '#제주여행', '#제주도여행', '#제주가..."
1,12월에 제주도를 가야하는이유🍊.#제주핫플 모음 끝판왕😍이거 하나면 겨울 #제주여행...,2018-12-03,368,NaN,"['#제주핫플', '#제주여행', '#제주', '#제주도', '#제주도맛집', '#..."
2,11월 놓치지 말아야 할 제주 관광.가을바람이 최고조에 이르는 11월추운 겨울을 앞...,2018-11-02,166,NaN,"['#honestin', '#어니스틴', '#제주여행', '#제주', '#제주도',..."
3,국민학교세대#제주관광#제주살이#제주이주민#아라동주민#삼남매집 #새해첫날#드라이브#명...,2019-01-01,28,명월국민학교,"['#제주관광', '#제주살이', '#제주이주민', '#아라동주민', '#삼남매집'..."
4,#제주관광 #제주 #돔나이트 #스트레스 #풀자 #춤추며 #땀날려 #가끔은괜찮아 #인...,2019-01-01,12,NaN,"['#제주관광', '#제주', '#돔나이트', '#스트레스', '#풀자', '#춤추..."

## 5.4.3 단어 선택하기

In [5]:
# 예제 5-45 추출 단어 포함하는 데이터 선택하기
select_word = '해돋이'

check_list = [select_word in content for content in raw_total.content]
''' check_list = []
for content in raw_total['content']:
    check_list.append(select_word in content)
    if select_word in content:
        check_list.append(True)
    else:
        check_list.append(False)'''

select_df = raw_total[check_list]
select_df.head()

,content,date,like,place,tags
34,..“쿠룽쿠룽 해트맨 마씸!”.제주방언으로 ‘쿨쿨 자던 해가 떴습니다’.다사다난 했...,2019-01-01,89,서귀포 법환포구,[]
73,아듀 2018!🤧👋🏻2019🐷황금돼지해의 첫 일출🌅을 만나볼 수 있는 제주 일출명소...,2018-12-31,18,Jeju-do,"['#제주', '#제주도', '#서귀포', '#제주도민', '#제주여행', '#제주..."
142,4일간 휴 ~ 뭐하지? ㅠ 뭐할까?. #해넘이#해돋이 어디로가지? .누워서보는극장?...,2018-12-28,94,NaN,"['#해넘이', '#해돋이', '#제주', '#jejudo', '#jeju', '#..."
441,순간포착엄청 놀랐네요갑자기 새들이 무더기로 나타나서날아오르길래 ㆍ그쪽에 무슨일 있는...,2018-12-18,77,제주프레임스파빌,"['#제주도공항', '#프레임펜션', '#프레임스파빌', '#제주', '#제주프레임..."
2458,해돋이#제주 #혼저옵서예 #제주스타그램 #제주도 #제주여행 #제주관광 #제주도여행 ...,2018-10-23,81,NaN,"['#제주', '#혼저옵서예', '#제주스타그램', '#제주도', '#제주여행', ..."